/* put your code here*/

.linkGame, .linkWeb, .sectionWeb, .sectionGame{
	height:100vh;
	background:black;
}

/******************************************************************** 
			             	^sectionWeb
*********************************************************************/
.sectionWeb{
	background:#59ffcd;
	opacity:0.5;
}

.linkWeb{
	background:black;
	background:url("../../media/images/Web-design.jpg");
}

/******************************************************************** 
			             	^sectionGame
*********************************************************************/
.sectionGame{
	background:#eeff3d;
	opacity:0.5;
}

.linkGame{
	background:black;
	background:url("../../media/images/univers-jeux.jpg");
}

/******************************************************************** 
			             	^sectionFooter
*********************************************************************/
.sectionFooter{
	height:50px;
	background:#0f1419;
	color:white;

}

.sectionFooter h2{
	text-align:center;
	font-weight:normal;
	font-size:15px;
}


/******************************************************************** 
			             	^logo
*********************************************************************/
ul{
	position:absolute;
	width:98%;
	top:50px;
	text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
	margin-left: 47.7%;
}

.roundEffect1{
	width:60px;
	height:60px;
	border-radius:50%;
	background:rgba(255,255,255,0.6);
}


.roundEffect2{
	width: 50px;
	height: 50px;
	margin-left: 5px;
	border-radius: 50%;
	background: rgba(255,255,255,0.7);
	position: relative;
	top: 5px;
}

li{
	margin-bottom:10px;
	font-size:40px;
	color:black;
}

i{
	color:black;
}

.roundEffect1:hover{
	background: rgba(150,150,150,0.6);
}

.roundEffect2:hover{
	background: rgba(150,150,150,0.7);
}
